#top .social_phone_email {
  background-color: #333333;
}

#top .social_phone_email .container .col-md-12 .nav .nav-item .nav-link {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}

#top .social_phone_email .container .col-md-12 .nav .nav-item .nav-link i {
  color: #fff;
}

#top .neveda_logo_section .container .col-md-12 .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-weight: 700;
  text-transform: uppercase;
}

#top .neveda_logo_section .container .col-md-12 .navbar .collapse .form-inline .form-control {
  border-radius: 0 !important;
  border: 1px solid gray;
}

#top .neveda_logo_section .container .col-md-12 .navbar .collapse .form-inline .search-icon {
  position: absolute;
  margin-left: 175px;
  color: gray;
}

#top .neveda_logo_section .container .col-md-12 .navbar .collapse .basket .fa-shopping-basket {
  font-size: 18px;
}

#top .neveda_logo_section .container .col-md-12 .navbar .collapse .basket .badge {
  font-size: 10px;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
}

#top .neveda_logo_section .container .col-md-12 .navbar .collapse .navbar-toggler-icon {
  color: gray;
}

#top .men_fashion .container .man_casual .card {
  height: 573px;
  margin-right: 0 !important;
  border: none;
  border-radius: 0;
  background-color: #f3f3f3;
}

#top .men_fashion .container .man_casual .card i {
  bottom: 0;
  top: 0;
  left: 50px;
  color: white;
  font-size: 12px;
  height: 55px;
  line-height: 55px;
  margin-left: -50px;
  position: absolute;
  right: 27px;
  text-align: center;
  -webkit-transform: rotate(-91deg);
          transform: rotate(-91deg);
  width: 55px;
  background: none 0px 0px repeat scroll black;
}

#top .men_fashion .container .man_casual .card i span {
  width: 55px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: block;
  font-size: 20px;
}

#top .men_fashion .container .man_casual .card .card-img {
  -o-object-fit: none;
     object-fit: none;
}

#top .men_fashion .container .man_casual .card .card-img-overlay .all_text {
  margin-top: 6em;
}

#top .men_fashion .container .man_casual .card .card-img-overlay .all_text .man_text {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

#top .men_fashion .container .man_casual .card .card-img-overlay .all_text .fashion_text {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: #636363;
}

#top .men_fashion .container .man_casual .card .card-img-overlay .all_text .lead {
  color: #333333;
  margin-top: 1em;
}

#top .men_fashion .container .man_casual .card .card-img-overlay .all_text .card-text {
  color: #333333;
  width: 180px;
  margin-top: 2em;
  margin-bottom: 2em;
}

#top .men_fashion .container .man_casual .card .card-img-overlay .all_text a .btn {
  font-weight: 400;
  width: 8em;
  background-color: #000;
  border-radius: 0;
  padding: 10px;
}

#top .men_fashion .container .bag_shoes .topRow .left .new_sale {
  background-color: #000;
  position: absolute;
  width: 40px;
  font-size: 19px;
  font-style: italic;
  height: 40px;
  text-align: center;
  padding-top: 4px;
  z-index: 1;
  color: white;
}

#top .men_fashion .container .bag_shoes .topRow .left .card {
  border-radius: 0;
  border: none;
  background-color: #f3f3f3;
  width: 255px;
  height: 280px;
}

#top .men_fashion .container .bag_shoes .topRow .left .card .card-img {
  -o-object-fit: none;
     object-fit: none;
  margin-top: 100px;
}

#top .men_fashion .container .bag_shoes .topRow .left .card .card-img-overlay .card-title {
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
  font-style: inherit;
  font-weight: 600;
  font-size: inherit;
  text-transform: uppercase;
}

#top .men_fashion .container .bag_shoes .topRow .right .new_sale {
  background-color: #000;
  position: absolute;
  width: 40px;
  font-size: 19px;
  font-style: italic;
  height: 40px;
  text-align: center;
  padding-top: 4px;
  z-index: 1;
  color: white;
}

#top .men_fashion .container .bag_shoes .topRow .right .card {
  border-radius: 0;
  border: none;
  background-color: #f3f3f3;
  width: 255px;
  height: 280px;
}

#top .men_fashion .container .bag_shoes .topRow .right .card .card-img {
  -o-object-fit: none;
     object-fit: none;
  margin-top: 100px;
}

#top .men_fashion .container .bag_shoes .topRow .right .card .card-img-overlay .card-title {
  margin-top: 15px;
  text-align: center;
  font-style: inherit;
  font-weight: 600;
  font-size: inherit;
  text-transform: uppercase;
}

#top .men_fashion .container .bag_shoes .bottomRow {
  margin-top: 10px;
}

#top .men_fashion .container .bag_shoes .bottomRow .col-md-12 .card {
  border: none;
  border-radius: 0;
  background-color: #f3f3f3;
  width: 100%;
  height: 283px;
}

#top .men_fashion .container .bag_shoes .bottomRow .col-md-12 .card i {
  background-color: #000;
  position: absolute;
  width: 40px;
  font-size: 19px;
  font-style: italic;
  height: 40px;
  text-align: center;
  padding-top: 4px;
}

#top .men_fashion .container .bag_shoes .bottomRow .col-md-12 .card .row {
  margin-top: 25px;
}

#top .men_fashion .container .bag_shoes .bottomRow .col-md-12 .card .row .left .resp-sm {
  display: none;
}

#top .men_fashion .container .bag_shoes .bottomRow .col-md-12 .card .row .left .card-body {
  margin-top: 25px;
}

#top .men_fashion .container .bag_shoes .bottomRow .col-md-12 .card .row .left .card-body .card-title {
  font-size: 24px;
  font-weight: 700;
}

#top .men_fashion .container .bag_shoes .bottomRow .col-md-12 .card .row .left .card-body .card-text {
  font-size: 17px;
  font-weight: 600;
  margin-top: 25px;
  letter-spacing: 1px;
}

#top .men_fashion .container .bag_shoes .bottomRow .col-md-12 .card .row .right .card-img {
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  height: 258px;
}

#top .all_product {
  background-color: #333333;
}

#top .all_product .row {
  width: 100%;
}

#top .all_product .row .col-md-12 {
  padding: 40px;
}

#top .all_product .row .col-md-12 h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #7c7c7c;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin-top: 30px;
}

#top .all_product .row .col-md-12 nav ol {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
  list-style: none;
}

#top .all_product .row .col-md-12 nav ol li {
  color: #ffffff !important;
}

#top .all_product .row .col-md-12 nav ol li a {
  text-decoration: none;
  color: #ffffff;
}

#top .blog_sidebar {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(5, 5, 5, 0.835)), to(rgba(71, 68, 71, 0.719))), url("../img/titlebar-img.png");
  background-image: linear-gradient(to right, rgba(5, 5, 5, 0.835), rgba(71, 68, 71, 0.719)), url("../img/titlebar-img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 15em;
}

#top .blog_sidebar .container {
  width: 100%;
  height: 15em;
}

#top .blog_sidebar .container .col-md-12 {
  width: 100%;
  height: 15em;
  padding-top: 5em;
}

#top .blog_sidebar .container .col-md-12 h3 {
  color: #dadbdf;
  font-family: 'Montserrat', sans-serif;
  font-size: 33.33px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.7px;
}

#top .blog_sidebar .container .col-md-12 nav {
  background-color: transparent !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top .blog_sidebar .container .col-md-12 nav .breadcrumb {
  background-color: transparent !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #dadbdf;
}

#top .blog_sidebar .container .col-md-12 nav .breadcrumb .breadcrumb-item {
  text-transform: capitalize;
}

#middle {
  margin-top: 70px;
}

#middle .login_sec .container .row .col-md-12 form .form-group .form-control {
  border: none;
  border-radius: 0;
  background-color: #a2a2a2;
}

#middle .login_sec .container .row .col-md-12 form .form-row .form-group .btn {
  border: none;
  border-radius: 0;
}

#middle .login_sec .container .row .col-md-12 form .form-row .form-group .form-check {
  margin-top: 8px;
}

#middle .login_sec .container .row .col-md-12 .lost_password a {
  text-decoration: none;
}

#middle .product_info .container .card {
  border-radius: 0;
  border: none;
}

#middle .product_info .container .card .row .left-col .card-img {
  border-radius: 0;
  border: none;
  cursor: pointer;
}

#middle .product_info .container .card .row .left-col .row .slider .card-img {
  cursor: pointer;
}

#middle .product_info .container .card .row .right-col .card-title {
  text-transform: capitalize;
  font-size: 26px;
}

#middle .product_info .container .card .row .right-col .card-title::after {
  content: "";
  width: 35px;
  height: 2px;
  background-color: #d8d7d5;
  margin-bottom: 10px;
  display: block;
  margin-top: 7px;
}

#middle .product_info .container .card .row .right-col .money {
  font-size: 18px;
  color: #777777;
  font-weight: 600;
}

#middle .product_info .container .card .row .right-col .money .min_price {
  color: red;
  letter-spacing: 2px;
  margin-left: 8px;
}

#middle .product_info .container .card .row .right-col .money .max_price {
  color: red;
  letter-spacing: 2px;
  margin-left: 8px;
}

#middle .product_info .container .card .row .right-col .card-text {
  color: #333333;
  font-weight: 200;
  margin: 30px 0;
  line-height: 30px;
}

#middle .product_info .container .card .row .right-col .options_text {
  font-weight: 200;
  font-size: 18px;
  color: #a2a2a2;
}

#middle .product_info .container .card .row .right-col .options_text::after {
  content: "";
  width: 25px;
  height: 1px;
  background-color: #d8d7d5;
  margin-bottom: 10px;
  display: block;
  margin-top: 7px;
}

#middle .product_info .container .card .row .right-col form .size_text {
  font-weight: 200;
  font-size: 18px;
  color: #a2a2a2;
}

#middle .product_info .container .card .row .right-col form .size_select {
  cursor: pointer;
  font-weight: 200;
  font-size: 16px;
  color: #a2a2a2;
  border-radius: 0;
}

#middle .product_info .container .card .row .right-col form .color_text {
  margin-top: 20px;
  font-weight: 200;
  font-size: 18px;
  color: #a2a2a2;
}

#middle .product_info .container .card .row .right-col form .color_select {
  cursor: pointer;
  font-weight: 200;
  font-size: 16px;
  color: #a2a2a2;
  border-radius: 0 !important;
}

#middle .product_info .container .card .row .right-col form .required_text {
  margin-top: 25px;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 19px;
  color: #a2a2a2;
}

#middle .product_info .container .card .row .right-col form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

#middle .product_info .container .card .row .right-col form .form-group .quantity_text {
  margin-bottom: 0;
  margin-right: 25px;
  margin-top: 4px;
  font-weight: 200;
  font-size: 18px;
  color: #a2a2a2;
}

#middle .product_info .container .card .row .right-col form .form-group .form-control {
  cursor: pointer;
  width: 65px;
  height: 37px;
  border-radius: 0;
}

#middle .product_info .container .card .row .right-col form .row {
  padding: 0 16px;
}

#middle .product_info .container .card .row .right-col form .row .btn {
  width: 120px;
  height: 38px;
  margin-right: 20px;
  margin-top: 25px;
  border: 1px solid;
  border-radius: 0;
  font-weight: 600;
  color: #a2a2a2;
  -webkit-transition: 0.35s all ease-in-out;
  transition: 0.35s all ease-in-out;
}

#middle .product_info .container .card .row .right-col form .row .btn:hover {
  color: #ffffff;
  background-color: #a2a2a2;
}

#middle .product_info .container .card .row .right-col form .row .heart {
  margin-top: 24px;
  width: 50px;
  height: 40px;
  border: 1px solid;
  border-radius: 0;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.35s all ease-in-out;
  transition: 0.35s all ease-in-out;
}

#middle .product_info .container .card .row .right-col form .row .heart:hover {
  background-color: #ffffff;
  color: #333333;
}

#middle .product_info .container .card .row .right-col form .row .heart i {
  position: absolute;
  margin-top: 12px;
  margin-left: 16px;
}

#middle .about_us .container-fluid .row .img {
  padding: 0;
}

#middle .about_us .container-fluid .row .text {
  background-color: #f3f3f3;
  width: 100%;
  height: 450px;
}

#middle .about_us .container-fluid .row .text .card {
  width: 100%;
  height: 450px;
  border-radius: 0;
  font-family: inherit;
  font-style: inherit;
  background-color: #f3f3f3;
  padding: 25px 30px 25px 30px;
}

#middle .about_us .container-fluid .row .text .card .card-title {
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
}

#middle .about_us .container-fluid .row .text .card .shop_text {
  font-family: inherit;
  font-style: inherit;
  font-weight: 600;
}

#middle .about_us .container-fluid .row .text .card .lead {
  font-family: inherit;
  font-style: inherit;
  font-size: 16px;
}

#middle .about_us .container-fluid .row .text .card .img-fluid {
  width: 150px !important;
}

#middle .featured_product {
  margin-top: 50px;
}

#middle .featured_product .container .top {
  width: 100%;
  height: auto;
}

#middle .featured_product .container .top .col-md-12 .related_products h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 26px;
}

#middle .featured_product .container .top .col-md-12 .related_products h2::after {
  content: "";
  width: 35px;
  height: 2px;
  background-color: #d8d7d5;
  display: block;
  margin-top: 15px;
}

#middle .featured_product .container .top .col-md-12 .list_style .single_list {
  border: 1px solid white;
  -webkit-box-shadow: -2px 3px 6px -2px;
          box-shadow: -2px 3px 6px -2px;
  background: border-box;
  padding-left: 5px;
  margin-right: 5px;
}

#middle .featured_product .container .top .col-md-12 .list_style .single_list a {
  text-decoration: none;
}

#middle .featured_product .container .top .col-md-12 .list_style .single_list a i {
  color: #000000 !important;
}

#middle .featured_product .container .top .col-md-12 .list_style .active {
  color: #333333 !important;
}

#middle .featured_product .container .top .col-md-12 .list_style .all_list {
  border: 1px solid white;
  -webkit-box-shadow: -2px 3px 6px -2px;
  box-shadow: -2px 3px 6px -2px;
  background: border-box;
  padding-left: 5px;
  padding-right: 5px;
}

#middle .featured_product .container .top .col-md-12 .list_style .all_list a {
  text-decoration: none;
}

#middle .featured_product .container .top .col-md-12 .list_style .all_list a i {
  color: #000000 !important;
}

#middle .featured_product .container .top .col-md-12 .list_style .filter {
  display: inline-block;
  margin-left: 25px;
}

#middle .featured_product .container .top .col-md-12 .list_style .filter form .form-group .form-control {
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: #f3f3f3;
  color: #515151;
  font-weight: 600;
}

#middle .featured_product .container .top .col-md-12 .list_style .filter form .form-group .form-control option {
  font-weight: 600;
}

#middle .featured_product .container .top span {
  width: 100%;
  height: auto;
}

#middle .featured_product .container .top span .lead {
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: 700;
  font-family: inherit;
  font-style: inherit;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 20px;
}

#middle .featured_product .container .top span .lead::after {
  content: "";
  width: 55px;
  height: 3px;
  background-color: #000;
  margin: 0 auto;
  display: block;
  top: 30px;
  bottom: 10px;
  position: relative;
}

#middle .featured_product .container .top .nav {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

#middle .featured_product .container .top .nav .nav-item {
  margin: 0 15px 0 15px;
}

#middle .featured_product .container .top .nav .nav-item .nav-link {
  text-transform: uppercase;
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
  color: #636363;
  -webkit-transition: 0.35s all;
  transition: 0.35s all;
}

#middle .featured_product .container .top .nav .nav-item .nav-link:hover {
  background-color: #000000;
  color: #ffffff;
}

#middle .featured_product .container .top .nav .nav-item .active {
  background-color: #000000;
  color: #ffffff;
}

#middle .featured_product .container .bottom {
  margin-top: 50px;
}

#middle .featured_product .container .bottom .col-md-3 {
  margin-bottom: 40px;
}

#middle .featured_product .container .bottom .col-md-3 .card {
  border: none;
  border-radius: 0;
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
  cursor: pointer;
}

#middle .featured_product .container .bottom .col-md-3 .card:hover .icons {
  display: block;
  right: 10px;
}

#middle .featured_product .container .bottom .col-md-3 .card:hover img {
  display: none;
}

#middle .featured_product .container .bottom .col-md-3 .card:hover .hover_img {
  display: block;
}

#middle .featured_product .container .bottom .col-md-3 .card img {
  width: 17rem;
}

#middle .featured_product .container .bottom .col-md-3 .card .hover_img {
  display: none;
  -webkit-transition: 0.45s all;
  transition: 0.45s all;
  -o-object-fit: cover;
     object-fit: cover;
}

#middle .featured_product .container .bottom .col-md-3 .card .sold {
  right: 14px;
  top: 15px;
  position: absolute;
  background: rgba(16, 69, 101, 0.07);
  width: 65px;
  height: 35px;
  padding-top: 4px;
  font-size: 14px;
  text-transform: uppercase;
  color: #444444;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  z-index: 1;
}

#middle .featured_product .container .bottom .col-md-3 .card .sold::before {
  content: "|";
  width: 12px;
  height: 1px;
  position: absolute;
  display: block;
  color: #a2a2a2;
  top: -21px;
  right: 24px;
}

#middle .featured_product .container .bottom .col-md-3 .card .icons {
  text-align: center;
  width: 45px;
  height: 35px;
  color: #ffffff;
  background-color: #000000;
  position: absolute;
  right: 0px;
  padding-top: 6px;
  display: none;
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
  cursor: pointer;
  font-size: 13px;
}

#middle .featured_product .container .bottom .col-md-3 .card .icons:hover {
  color: #000000;
  background-color: #ffffff;
}

#middle .featured_product .container .bottom .col-md-3 .card .basket {
  top: 120px;
}

#middle .featured_product .container .bottom .col-md-3 .card .view {
  top: 170px;
}

#middle .featured_product .container .bottom .col-md-3 .card .heart {
  top: 220px;
}

#middle .featured_product .container .bottom .col-md-3 .card .card-body .card-title {
  font-size: 19px;
}

#middle .featured_product .container .bottom .col-md-3 .card .card-body .card-text {
  text-align: center;
  color: #777777;
  font-size: 18px;
  font-family: inherit;
  font-weight: inherit;
  padding-right: 5px;
}

#middle .featured_product .container .bottom .col-md-3 .card .card-body .card-text del {
  color: lightcoral;
}

#middle .featured_product .container .bottom .col-md-3 .card .card-body .card-text .money {
  color: red;
  font-size: 18px;
}

#middle .featured_product .container .bottom .col-md-3 .card .row {
  padding: 0 14px;
}

#middle .featured_product .container .bottom .col-md-3 .card .row a .btn {
  width: 120px;
  height: 35px;
  border: none;
  border-radius: 0;
  color: #7c7c7c;
  font-weight: 600;
  background-color: #f3f3f3;
  -webkit-transition: 0.45s all;
  transition: 0.45s all;
}

#middle .featured_product .container .bottom .col-md-3 .card .row a .btn:hover {
  color: #ffffff;
  background-color: #000000;
}

#middle .featured_product .container .bottom .col-md-3 .card .row .rate {
  margin: 0 auto;
  padding-top: 8px;
}

#middle .featured_product .container .bottom .col-md-3 .card .row .rate i {
  font-size: 14px;
}

#middle .latest_blog {
  margin-top: 50px;
}

#middle .latest_blog .container .top {
  width: 100%;
  height: auto;
}

#middle .latest_blog .container .top span {
  width: 100%;
  height: auto;
}

#middle .latest_blog .container .top span .lead {
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: 700;
  font-family: inherit;
  font-style: inherit;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 20px;
}

#middle .latest_blog .container .top span .lead::after {
  content: "";
  width: 55px;
  height: 3px;
  background-color: #000;
  margin: 0 auto;
  display: block;
  top: 30px;
  bottom: 10px;
  position: relative;
}

#middle .latest_blog .container .bottom {
  margin-top: 50px;
}

#middle .latest_blog .container .bottom .left_blog .card {
  border: none;
  border-radius: 0;
}

#middle .latest_blog .container .bottom .left_blog .card .row .left_col .hover_a .card-img {
  border-radius: 0;
  transition: 0.35s -webkit-filter linear;
}

#middle .latest_blog .container .bottom .left_blog .card .row .left_col .hover_a:hover .card-img {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

#middle .latest_blog .container .bottom .left_blog .card .row .right_col .card-body {
  width: 100%;
  height: auto;
  padding: 40px 25px;
}

#middle .latest_blog .container .bottom .left_blog .card .row .right_col .card-body .card-title {
  font-weight: 700;
  font-style: inherit;
  font-family: inherit;
  color: #333333;
  margin-bottom: 25px;
}

#middle .latest_blog .container .bottom .left_blog .card .row .right_col .card-body .card-text {
  font-weight: 400;
  font-style: inherit;
  font-family: inherit;
  font-size: 15px;
  letter-spacing: 0.7px;
}

#middle .latest_blog .container .bottom .left_blog .card .row .right_col .card-body .icons_row {
  color: #636363;
  padding-left: 20px;
  padding-top: 10px;
}

#middle .latest_blog .container .bottom .left_blog .card .row .right_col .card-body .icons_row span {
  font-size: 13px;
  margin-right: 10px;
}

#middle .latest_blog .container .bottom .right_blog .card {
  border: none;
  border-radius: 0;
}

#middle .latest_blog .container .bottom .right_blog .card .row .left_col .hover_a .card-img {
  border-radius: 0;
  transition: 0.35s -webkit-filter linear;
}

#middle .latest_blog .container .bottom .right_blog .card .row .left_col .hover_a:hover .card-img {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

#middle .latest_blog .container .bottom .right_blog .card .row .right_col .card-body {
  width: 100%;
  height: auto;
  padding: 40px 25px;
}

#middle .latest_blog .container .bottom .right_blog .card .row .right_col .card-body .card-title {
  font-weight: 700;
  font-style: inherit;
  font-family: inherit;
  color: #333333;
  margin-bottom: 25px;
}

#middle .latest_blog .container .bottom .right_blog .card .row .right_col .card-body .card-text {
  font-weight: 400;
  font-style: inherit;
  font-family: inherit;
  font-size: 15px;
  letter-spacing: 0.7px;
}

#middle .latest_blog .container .bottom .right_blog .card .row .right_col .card-body .icons_row {
  color: #636363;
  padding-left: 20px;
  padding-top: 10px;
}

#middle .latest_blog .container .bottom .right_blog .card .row .right_col .card-body .icons_row span {
  font-size: 13px;
  margin-right: 10px;
}

#bottom {
  margin-top: 70px;
  background-color: #f3f3f3;
}

#bottom .address_contact .container {
  padding: 70px 0;
}

#bottom .address_contact .container .row {
  padding: 0 50px;
}

#bottom .address_contact .container .row .col-md-3 h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 21px;
  font-style: inherit;
  font-family: inherit;
  margin-bottom: 25px;
}

#bottom .address_contact .container .row .col-md-3 p {
  color: #515151;
  line-height: 30px;
  font-size: 16px;
  font-style: inherit;
  font-family: inherit;
}

#bottom .address_contact .container .row .col-md-3 p a {
  color: red;
  text-decoration: none;
}

#bottom .address_contact .container .row .col-md-3 ul {
  padding-left: 18px;
  line-height: 30px;
  font-size: 15px;
}

#bottom .address_contact .container .row .col-md-3 ul li {
  font-weight: 600;
  color: #515151;
}

#bottom .address_contact .container .row .col-md-3 small {
  color: #515151;
}

#bottom .address_contact .container .row .col-md-3 form {
  margin-top: 25px;
}

#bottom .address_contact .container .row .col-md-3 form .form-group .form-control {
  font-size: 14px;
  border: none;
  border-radius: 0;
  width: 210px;
  height: 29px;
  display: inline-block;
}

#bottom .address_contact .container .row .col-md-3 form .form-group i {
  position: absolute;
  bottom: 69px;
  font-size: 18px;
  right: 55px;
}

#bottom .address_contact .container .row .col-md-3 .address {
  margin-bottom: 12px;
}

#bottom .address_contact .container .row .col-md-3 .address i {
  margin-right: 15px;
}

#bottom .address_contact .container .row .col-md-3 .email {
  margin-bottom: 12px;
}

#bottom .address_contact .container .row .col-md-3 .email i {
  margin-right: 15px;
}

#bottom .address_contact .container .row .col-md-3 .phone i {
  margin-right: 15px;
}

#bottom .social {
  padding-bottom: 3em;
}

#bottom .social .container .row .left-col .social-col span {
  border: 1px solid #000000;
  border-radius: 17px;
  cursor: pointer;
  padding: 0 5px !important;
  -webkit-transition: 0.35s all linear;
  transition: 0.35s all linear;
  margin-right: 10px;
}

#bottom .social .container .row .left-col .social-col span:hover {
  background-color: #000000;
  color: #ffffff;
}

#bottom .social .container .row .left-col .social-col span i {
  padding-left: 4px;
}

#bottom .social .container .row .middle-col {
  text-align: center;
}

#bottom .social .container .row .middle-col span i {
  font-size: 11px;
  color: #7c7c7c;
}

#bottom .social .container .row .middle-col strong {
  font-size: 14px;
  font-weight: 600;
  color: #7c7c7c;
  text-transform: uppercase;
  font-family: inherit;
  font-style: inherit;
}

#bottom .social .container .row .right-col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

#bottom .social .container .row .right-col ul li {
  text-decoration: none;
  margin-right: 15px;
  border: 1px solid #7c7c7c;
  width: 35px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}

#bottom .social .container .row .right-col ul li :hover i {
  color: #4B77BE;
}

#bottom .social .container .row .right-col ul li span i {
  -webkit-transition: 0.35s all ease-in-out;
  transition: 0.35s all ease-in-out;
}
/*# sourceMappingURL=style.css.map */